@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.flex_row, .info_box{
  display: flex;
  flex-direction: row;
}

.flex_column, .logo_item, .logo_item_mobile{
  display: flex;
  flex-direction: column;
}

.logo_item{
  margin: 20px auto;
}

.logo_item_mobile{
  display: none;
}

.menu_box{
  margin: 55px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu_item{
  font-size: 25px;
  font-family: 'Balsamiq Sans', cursive;
  margin: 0 44px 20px 27px;
  font-weight: 900;
  cursor: pointer;
  color: saddlebrown;
  text-decoration: none;
}

.menu_item:hover{
  color: rgb(108, 145, 6);
}

.logo_title{
  font-family: 'Lobster', cursive;
  text-align: center;
  color: goldenrod;
  font-size: 40px;
  letter-spacing: 7px;
  margin: 10px 0;
}

.contacts_block{
  display: flex;
  flex-direction: column;
  padding: 45px 0;
  align-items: center;
}

.input_contact{
  width: 377px;
  height: 40px;
  background-color: white;
  outline: none;
  border-radius: 25px;
  border: 1px solid #1d76c4;
  padding: 0 0 0 20px;
  margin: 5px 0 5px 0;
}

.input_contact:hover{
  border: 1px solid rgb(170, 55, 219);
}

.footer{
  background-color: white;
  height: 107px;
  margin: 0 0 -10px 0;
  padding: 25px 0 0 0;
  text-align: center;
}

.network_box_face,.network_box_twit,.network_box_red{
  margin: 0 30px 0 30px;
  opacity: 1.0;
  cursor: pointer;
}

.network_box_face:hover,.network_box_twit:hover,.network_box_red:hover {
  opacity: 0.5;
}

.networks_div{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact_box{
  margin: 0;
}

.submit_div{
  padding: 20px 0 2px 0;
}

.lable{
  padding: 0 0 0 0;
  color: #24232b;
  font-family: Montserrat, sans-serif;
  margin: 5px 0 0 0;
  text-align: center;
}

.adress_row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer_menu_box{
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: center;
}

.city, .years, .address{
  font-size: 27px;
  font-family: 'Balsamiq Sans', cursive;
  margin: 0;
  font-weight: 500;
  color: saddlebrown;
}

.years{
  font-weight: 500;
  margin: 0 0 0 10px;
}

.address{
  font-size: 21px;
  font-weight: 500;
  margin: 10px 20px;
  text-align: center;
}

.validity{
  color: palevioletred;
  font-size: 10px;
  margin: 3px 0 0 0;
  text-align: center;
}

.button_submit_mail, .button_to_contact{
  width: 180px;
  background-color: darkviolet;
  margin: 30px auto;
  height: 35px;
  font-size: 18px;
  border-radius: 17px;
  color: white;
  border: none;
}

.button_to_contact{
  width: 275px;
  margin: 20px 0 0 39px;
  background-color: rgb(170, 55, 219);
  padding: 6px;
}

.button_submit_mail:hover, .button_to_contact:hover{
  color: darkviolet;
  background-color: white;
  border: 1px solid darkviolet;
}

.button_submit_mail:active{
  box-shadow: 0 0 9px darkviolet;
}

.carousel_box{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.carousel{
  width: 750px;
}

.someitem{
  text-align: center;
}

.firstitem{
  margin: 99px 0;
  text-align: center;
}

.fiveitem{
  margin: 79px 0;
  text-align: center;
}

.inner_text, .text_about, .text_before_form{
  text-align: justify;
  color: rgb(62, 13, 83);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text_before_form{
  text-align: center;
}

.text_box{
  margin: 52px 0 0 41px;
}

.text_about{
  width: 800px;
  margin: 20px auto;
}

.inner_block{
  display: flex;
  justify-content: center;
  margin: 70px 0;
}

.about_box{
  text-align: center;
}

.address:hover{
  color: rgb(108, 145, 6);
}

.text_color{
  color: rgb(108, 145, 6);
}

@media screen and (min-width: 400px) and (max-width: 1024px){

  .logo_item{
    width: 500px;
  }

  .logo_title{
    font-size: 28px;
  }

  .menu_item {
    font-size: 17px;
  }


  .info_box{
    flex-direction: row;
  }

  .info_img{
    margin: 0 auto;
    width: 200px;
  }

  .text_box {
    margin: 14px ​0 0 36px;
  } 

  .submit_div {
    text-align: center;
  }

  .inner_text{
    font-size: 15px;
    text-align: center;
  }

  .button_to_contact {
    margin: 20px 0 0 0;
  }

  .carousel_box{
    justify-content: center;
  }
  
  .carousel{
    width: 550px;
  }

  .someitem{
    margin: 45px 0 0 90px;
    text-align: center;
    width: 350px;
  }

  .firstitem{
    margin: 79px 0 0 157px;
    text-align: center;
    width: 250px;
  }

  .fiveitem{
    margin: 59px 0 0 150px;
    text-align: center;
    width: 250px;
  }

  .text_about {
    width: 500px;
    margin: 20px auto;
  }

  .input_contact{
    width: 290px;
  }

  .adress_row {
    flex-direction: row;
  }

  .city, .years, .address {
    font-size: 18px;
    margin: 10px;
  }

  .contacts_block {
    padding: 17px 0 0;
  }

}


@media screen and (min-width: 100px) and (max-width: 399px){

  .logo_title {
    font-size: 15px;
  }

  .menu_item {
    font-size: 21px;
    margin: 12px;
  }

  .menu_box {
    margin: 12px 0 0 0;
    flex-direction: column;
    align-items: center;
  }

  .logo_item{
    display: none;
  }

  .logo_item_mobile{
    display: block;
    align-items: center;
    margin: 30px auto 10px;
  }

  .info_box{
    flex-direction: column;
  }

  .info_img{
    margin: 0 auto;
    width: 200px;
  }

  .text_box {
    margin: 52px 0 0;
  } 

  .submit_div {
    text-align: center;
  }

  .inner_text{
    font-size: 15px;
    text-align: center;
  }

  .button_to_contact {
    margin: 20px 0 0 0;
  }

  .carousel_box{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .carousel{
    width: 350px;
  }

  .someitem{
    margin: 79px 0 0 52px;
    text-align: center;
    width: 220px;
  }

  .firstitem{
    margin: 79px 0 0 72px;
    text-align: center;
    width: 200px;
  }

  .fiveitem{
    margin: 59px 0 0 72px;
    text-align: center;
    width: 200px;
  }

  .text_about {
    width: 300px;
    margin: 20px auto;
  }

  .input_contact{
    width: 290px;
  }

  .adress_row {
    flex-direction: column;
  }

  .city, .years, .address {
    font-size: 18px;
    margin: 10px;
  }

  .contacts_block {
    padding: 17px 0 0;
  }

  .text_before_form {
    text-align: center;
    width: 322px;
    margin: 0 auto;
  }

  .button_submit_mail {
    width: 170px;
    font-size: 16px;
  }

}